<div class="container-graph">
    <table id="q-graph">
        <thead>
        <tr>
        <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="qtr" id="q1">
        <th scope="row">1 week</th>
        <td class="week bar" style="height:50px;"></td>
        </tr>
        <tr class="qtr" id="q2">
        <th scope="row">2 weeks</th>
        <td class="week bar" style="height: 85px;"></td>
        </tr>
        <tr class="qtr" id="q3">
        <th scope="row">3 weeks</th>
        <td class="week bar" style="height: 115px;"></td>
        </tr>
        <tr class="qtr" id="q4">
        <th scope="row">4 weeks</th>
        <td class="week bar" style="height: 125px;"></td>
        <tr class="qtr" id="q5">
                <th scope="row">5 weeks</th>
                <td class="week bar" style="height: 135px;"></td>
            </tr>
            <tr class="qtr" id="q6">
                    <th scope="row">6 weeks</th>
                    <td class="week bar" style="height: 145px;"></td>
        </tbody>
    </table>
        
    <div id="ticks">
        <div class="tick" style="height: 29px;"><p>1000</p></div>
        <div class="tick" style="height: 29px;"><p>800</p></div>
        <div class="tick" style="height: 29px;"><p>600</p></div>
        <div class="tick" style="height: 29px;"><p>400</p></div>
        <div class="tick" style="height: 29px;"><p>200</p></div>
    </div>   
    <p class="caption">WEEKS OF MEMBERSHIP</p>
</div>
